.btn {
  display: inline-block;
  background: #252525;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn-block {
  display: grid;
  width: 100%;
}
/* when i click i want it to expand a bit to show it is now clicked */
.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}
