.focusedTask {
  background: white;
  margin: 5px;
  padding: 10px 20px;
  display: grid;
  color: #303030;

  grid-template-columns: 1fr 1fr;
}
.link2 {
  text-decoration: none;
  color: #303030;
  cursor: pointer;
  font-size: x-small;
  margin: 5px;
}
.img2 {
  width: 10px;
  margin-right: 5px;
}
